.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarRapture{
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  width: 100%;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200713/pngtree-gold-metal-texture-background-image_355342.jpg");
  background-size: cover;
  background-repeat:round;
}

.navbarColumbia{
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  width: 100%;
  background-image: url("https://bradbury.com/images/ref_250_cream_400.jpg");
  background-size: contain;
  background-repeat:initial;
}

.navbarLinksRapture {
  color:#000000;
  font-size: 25px;
  font-family: broadway;
  color: #cb9100bf;
  -webkit-text-stroke: 1.5px #795600;
  text-decoration: none;
  background-image: url("https://t4.ftcdn.net/jpg/02/18/47/97/360_F_218479727_gP89LrAKcNdJvIHtklm0XNElCcvgU831.jpg");
  background-size: cover;
  background-repeat:round;
  border-radius: 20%;
  border: ridge;
  border-color: #ffd700;
}

/* .navbarLinksRapture:active {
  background-color: #e52d2d;
} */

.navbarLinksColumbia {
  color:#000000;
  font-size: 25px;
  font-family: "graduate", cursive;
  color: #fde9bb;
  text-shadow: 1.5px 1.5px black;
  text-decoration: none;
  background-image: url("https://www.stockvault.net/data/2011/04/26/122551/preview16.jpg");
  background-size: cover;
  background-repeat:round;
  border-radius: 20%;
  border: ridge;
  border-color: #e5c892;
}

/* .navbarLinksColumbia:active {
  background-color: #e52d2d;
} */

.mainContainer {
  /* background-color: #D7A184; */
  display: flex;
  flex-direction: column;
  justify-content: flex-smart;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  padding-top: 30px; /*subject to change*/
}

.title {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 50px;
  font-family: "Century Gothic";
  color: aliceblue;
}

.plasmidContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 0.5rem;
  margin: 50px;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.plasmidCardRapture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  gap: 1rem;
  background-color: #E1C16E;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  flex-shrink: 0;
  filter: drop-shadow(1px, 2px, 0.2rem gray);
  background-image: url("https://openclipart.org/image/800px/233557"), url("https://t4.ftcdn.net/jpg/02/18/47/97/360_F_218479727_gP89LrAKcNdJvIHtklm0XNElCcvgU831.jpg");
  background-size: cover;
  background-repeat:round;
  margin: 30px;
}


.plasmidCardColumbia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  gap: 1rem;
  background-color: #fffd75;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  flex-shrink: 0;
  filter: drop-shadow(1px, 2px, 0.2rem gray);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Jacques-louis_david%2C_marte_disarmato_da_venere%2C_1824%2C_picture_frame.png/529px-Jacques-louis_david%2C_marte_disarmato_da_venere%2C_1824%2C_picture_frame.png?20200515181509"), url("https://i.pinimg.com/originals/7e/ca/78/7eca78aef2d39f5a3529ec7173305ff7.jpg");
  background-size: cover;
  background-repeat:round;
  margin: 30px;
}

.plasmidTitleRapture{
  font-weight: bold;
  margin: 0;
  font-size: 25px;
  font-family: broadway;
  margin-top: 50px;
  color: #cb9100bf;
  -webkit-text-stroke: 0.1px #795600;
}

.plasmidTitleColumbia{
  font-weight: bold;
  margin: 0;
  font-size: 25px;
  margin-top: 40px;
  font-family: "graduate", cursive;
  color: #fde9bb;
  text-shadow: 1.5px 1.5px black;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.taglineRapture {
  position: relative;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: wrap;
  text-align: -webkit-center;
  font-family: brush script mt;
  font-size: 25px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin: 35px;
  margin-top: 0px;
}

.taglineColumbia {
  color: #fde9bb;
  font-weight: bold;
  position: relative;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: wrap;
  text-align: -webkit-center;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin: 35px;
  margin-top: 0px;
  text-shadow: 1.5px 1.5px black;
}

.button {
  border: 0;
  padding: 0.4rem 0.9rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: #cbffa9;
}

/*//////////////images//////////////*/

.plasmidImageRapture {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 25px;
}

.plasmidImageColumbia {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 25px;
  border-style: solid;
}

/*////////////edit forms//////////*/

.editFormRapture{
  text-align: center;
  display: flow;
  margin-top: 100px;
}

.editFormColumbia{
  text-align: center;
  display: flow;
  margin-top: 100px;
}

/*/////////////////////////////////////
/////////////BackgroundImages/////////
///////////////////////////////////*/

.raptureBackground {
  background-image: url("https://cdn.wallpapersafari.com/48/58/pExYzO.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.columbiaBackground {
  background-image: url("./columbiaPicAlt.webp");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.title-rapture {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: #000000; /* Black color */
  text-align: center;
  margin: 0; /* Remove default margin */
  padding: 3.5rem 0; /* Add padding for spacing */
}

.subtitle-rapture {
  font-size: 1rem;
  color: #FFD700; /* Gold color */
  margin: 0.3rem 0; /* Adjust margin for spacing */
  text-align: center;
}

.title-columbia {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: #ffffff; /* White color */
  text-align: center;
  margin: 0; /* Remove default margin */
  padding: 3.5rem 0; /* Add padding for spacing */
}


.subtitle-columbia {
  font-size: 1rem;
  color: #e52d2d; /* Red color */
  margin: 0.3rem 0; /* Adjust margin for spacing */
  text-align: center;
}

.info-sections {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.info-card-rapture {
  flex: 1;
  padding: 1rem;
 
  color: #FFF; /* White text color */
  border-radius: 10px;
  /* Add any other styling you want for Rapture */
}

.info-card-columbia {
  flex: 1;
  padding: 1rem;
  color: #232200; /* Black text color */
  border-radius: 10px;
  /* Add any other styling you want for Columbia */
}
