.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  width: 100%;
}

.navbarHeaders {
  display: inline-block;
  width: 30%;
  padding: 12px;
  margin: 0 6px 6px;
  background: blue;
  color: white;
}

.mainContainer {
  /* background-color: #D7A184; */
  display: flex;
  flex-direction: column;
  justify-content: flex-smart;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  padding-top: 30px; /*subject to change*/
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.plasmidContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 0.5rem;
  margin: 0 0.5rem;
  flex-wrap: wrap;
}

.plasmidCardRapture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  gap: 1rem;
  background-color: #E1C16E;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  flex-shrink: 0;
  filter: drop-shadow(1px, 2px, 0.2rem gray);
  background-image: url("https://openclipart.org/image/800px/233557");
  background-size: cover;
  background-repeat:round;
  margin: 30px;
}


.plasmidCardColumbia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  gap: 1rem;
  background-color: #fffec4;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  flex-shrink: 0;
  filter: drop-shadow(1px, 2px, 0.2rem gray);
  background-image: url("https://clipart-library.com/images/yikrkLMaT.png");
  background-size: cover;
  background-repeat:round;
  margin: 30px;
}

.plasmidTitleRapture{
  font-weight: bold;
}

.plasmidTitleColumbia{
  font-weight: bold;
}

.tagline {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  margin: 0;
}

.button {
  border: 0;
  padding: 0.4rem 0.9rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: #cbffa9;
}

.plasmidImage {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border-radius: 50%;
}

/*/////////////////////////////////////
/////////////BackgroundImages/////////
///////////////////////////////////*/

.raptureBackground {
  background-image: url("https://cdn.wallpapersafari.com/48/58/pExYzO.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.columbiaBackground {
  background-image: url("./columbiaPicAlt.webp");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.title-rapture {
  font-family: 'Impact', sans-serif;
  font-size: 2rem;
  color: #000000; /* Black color */
  text-align: center;
  margin: 0; /* Remove default margin */
  padding: 3.5rem 0; /* Add padding for spacing */
}

.subtitle-rapture {
  font-size: 1rem;
  color: #FFD700; /* Gold color */
  margin: -11px 0 ; /* Adjust margin for spacing */
  text-align: center;
}

.title-columbia {
  font-family: 'Brush Script MT', cursive; /* Apply Brush Script MT font */
  font-size: 2rem;
  color: #ffffff; /* White color */
  text-align: center;
  margin: 0; /* Remove default margin */
  padding: 3.5rem 0; /* Add padding for spacing */
}


.subtitle-columbia {
  font-size: 1rem;
  color: #e52d2d; /* Red color */
  margin: 0.3rem 0; /* Adjust margin for spacing */
  text-align: center;
}

.info-sections {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto; /* Adjust margin as needed */
}

.info-card-rapture {
  flex: 1;
  padding: 1rem;
 
  color: #FFF; /* White text color */
  border-radius: 10px;
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 1s ease-in-out; /* Add transition for opacity */
  /* Add any other styling you want for Rapture */
}

.info-card-columbia {
  flex: 1;
  padding: 1rem;
  color: #232200; /* Black text color */
  border-radius: 10px;
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 1s ease-in-out; /* Add transition for opacity */
  /* Add any other styling you want for Columbia */
}


/* Add a fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 10s ease-in-out forwards; /* Adjust animation duration as needed */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
